.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input,
select {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid transparent;
}

button {
  width: min-content;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 1rem;
  background: rgb(0 99 255);
  border-bottom-left-radius: none;
  border-bottom-left-radius: 1re;
  border: 1;
  box-shadow: yellowgreen;
  box-shadow: 0.1rem 0.1rem grey;
  cursor: pointer;
  color: white;
}

button:disabled {
  background: rgb(173, 195, 231);
  color: #424449;
}

button:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.15);
  background: radial-gradient(
    circle,
    rgba(63, 251, 236, 1) 0%,
    rgba(70, 113, 252, 1) 100%
  );
}

button:hover:disabled {
  color: #424449;
  transform: none;
  background: rgb(173, 195, 231);
  cursor: not-allowed;
}
