.containerForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url("../../../imagen/imgActivity.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
}

.boxForm {
  display: flex;
  flex-direction: column;
  text-align: initial;
  width: 20rem;
  background: rgb(21 120 222 / 22%);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.boxForm > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 4.5rem;
}

.warning {
  border: 1px solid rgb(170, 24, 24);
  border-radius: 0.3em;
  background-color: rgb(211, 149, 157);
  text-align: center;
}

.danger {
  font-size: 0.8rem;
  color: rgb(206, 34, 34);
}

label {
  margin-bottom: 0.2rem;
}

.containerButton {
  margin: auto;
  width: 60%;
  height: 2rem;
}

.containerButton button {
  width: auto;
}
