.containerHome {
  display: flex;
  flex-direction: column;
  background: url(../../../imagen/imgHome.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: scroll;
  height: 100vh;
}

.containerSearchFilter {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  padding: 0.4rem 1rem;
}

.containerBack {
  border: none;
  border-radius: 1rem;
  padding: 0.3rem;
  min-width: 4rem;
}
