.containerCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid 0.1rem #cfd3db;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  font-size: x-small;
  line-height: 1.2rem;
  position: relative;
  width: 22rem;
  height: 9rem;
  background-color: #cfd3db8c;
  padding: 0.5rem;
  gap: 0.5rem;
}

.containerCard :hover {
}

.containerFlag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagenFlags {
  border-radius: 1rem;
  width: 10rem;
  height: 7rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerText {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-shadow: 2px 2px 5px #6799bb;
  width: 100%;
  height: 100%;
}

.containerText + h3 {
  margin: 0;
}
