.containerSelect {
  position: relative;
}

.containerHeader {
  position: relative;
  width: 95%;
}

.containerOptions {
  position: absolute;
  background-color: white;
  height: 8rem;
  overflow: scroll;
}

.containerOptions > div {
  display: flex;
  cursor: pointer;
}

.containerOptions label {
  flex-grow: 1;
  cursor: pointer;
}

.select {
  visibility: hidden;
}
