.containerSearch {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: white;
  justify-content: flex-start;
  align-items: center;
  padding: 0.35rem 0.8rem;
  background-color: rgba(11, 17, 73, 0.52);
  position: relative;
  border-radius: 5rem;
  height: min-content;
  width: min-content;
}

.containerSearch > img {
  width: 1.2rem;
  cursor: pointer;
}

.containerSearch > img {
  position: absolute;
  left: 5.2rem;
}

.containerSearch > input {
  padding: 0.25rem 0.25rem 0.25rem 2.3rem;
}

.containerHidden {
  color: rgba(11, 17, 73, 0.52);
}

.containerHidden > img {
  left: 1.5rem;
  width: 2rem;
  cursor: pointer;
}

.containerHidden > input {
  display: none;
}
.containerHidden > label {
  visibility: hidden;
}

.containerHidden > img:hover {
  transform: translateY(-3px) scale(1.1) translateZ(0);

  background-color: none;
}
