.containerDetail {
  display: flex;
  flex-direction: column;
  background: url(../../../imagen/imgDetail.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.containerBox {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  border: solid 0.1rem #cfd3db;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  justify-content: center;
  align-items: center;
}

.containerData {
  padding: 0rem 2rem;
  gap: 2rem;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
}

.containerData p{
  text-align: start;
}
