.containerPag {
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.containerPag > button {
  background: rgba(11, 17, 73, 0.52);
  color: white;
  border: none;
  padding: 0.5rem;
}

button.active {
  background-color: rgb(57, 53, 245);
  color: antiquewhite;
  border-color: transparent;
}
