.boxForm {
  display: flex;
  flex-direction: column;
  text-align: initial;
  width: 14rem;
  background: rgb(21 120 222 / 22%);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.boxForm button {
  width: unset;
  align-self: center;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.containerHeader {
  position: relative;
  width: 95%;
}
